
.act-container{
    display: grid;
    grid-template-columns: 300px 300px;
}

p {
    padding: 2px;
    border-radius: 5px;
    /* width: 30%; */
}

.allacts{
    padding: 20px;
    border: 1px lightslategray dotted;
}