* {
    background-image: url('./Assets/back4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ff8000;
}