* {
    background-image: url('./Assets/back4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ff8000;
}

.today{
    padding: 20px;
}

blockquote{
    font-size: 1.5em;
    font-style: oblique;
}